@import '../variables.scss';

*{@include default}


// ========================== Categories ===========================

.CatSectionBack{
    background-color: $my-blue;
    padding: 70px 5%;
    padding-top: 120px;
    color: $my-white;
    position: relative;
}

.catFlexDiv{
    display: flex;
    align-items: center;
}


.catFirstDiv h2{
    font-size: 40px;
}

.catFirstDiv p{
    font-size: 18px;
    padding: 20px 0;
    cursor: pointer;
}
.catSeconDiv{
    margin-left: auto;
}

.catSeconDiv button{
    padding: 12px 30px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: $my-white;
    // box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


.catOption{
    display: flex;
    gap: 30px;
    position: absolute;
    bottom: 20px;
}

.catOption p{
    color: rgb(202, 227, 248);
    cursor: pointer;
}



.underlineClass1{
    color: white !important;
    border-bottom: 2px solid $my-white;
    padding-bottom: 5px;
}


.underlineClass2{
    color: white !important;
    border-bottom: 2px solid $my-white;
    padding-bottom: 5px;
}


@media only screen and (min-width: $small-One) and (max-width: $small-Two) {
    
    .CatSectionBack{
        background-color: $my-blue;
        padding: 70px 7%;
        padding-top: 80px;
        color: $my-white;
        position: relative;
    }


    .catFirstDiv h2{
        font-size: 25px;
    }
    
    .catFlexDiv{
        display: block;
        align-items: center;
    }

    .catFirstDiv p{
        font-size: 12px;
        padding: 15px 0;
        cursor: pointer;
    }


    .catOption p{
        color: rgb(202, 227, 248);
        cursor: pointer;
        font-size: 12px;
    }


    .catSeconDiv button{
        padding: 10px 20px;
    }
}


// ============================== Digital Section  =========================

.DigitalSection{
    padding: 30px 5%;
}


.DigitalDivFlex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}


.DigImageDiv img{
    width: 100%;
    border-radius: 10px;
}


.DigImageDiv{
    cursor: pointer;
}


.DigImageDiv:hover{
    transform: scale(0.98);
    transition: all ease 0.5s;
}


.DigitalSection h2{
    padding-bottom: 20px;
}


@media only screen and (min-width: $small-One) and (max-width: $small-Two) {
    .DigitalDivFlex{
        display: grid;
        grid-template-columns: 1fr ;
        gap: 10px;
    }

    .DigitalSection{
        padding: 30px 7%;
    }
}