

@import '../variables.scss';

*{@include default}


// =======================chatSec =================

.chatSec{
    display: flex;
    background-color: rgb(245, 245, 245);
    width: 100vw;
    height: 100vw;
}
.sideBar {
    position: fixed;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: white;
    padding: 100px 30px;
    width: 300px;
    z-index: 2;
    height: 100vh;
}

.message{
    width: 100%;
}


.messageHeader{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 100%;
    padding: 30px 18%;
    padding-bottom: 20px;
    margin: 70px 0;
    background-color: white;
    display: flex;
    align-items: center;
}

.messageOverFlow{
    // margin: 100px;
    // margin-bottom: 50px;
    // margin-left: 23%;
}


.messageAvaDiv {
    display: flex;
    gap: 15px;
}

.msgBtn{
    margin-left: auto;
}

.msgBtn button{
    padding: 13px 30px;
    background-color: white ;
    border: $my-blue solid 1px;
    border-radius: 20px;
    cursor: pointer;
}


// .messageBottom {
//     bottom: 50px;

//     margin: 0 auto; 
//     margin-right: 20% !important;
//     transform: translateX(50%);
    
//     background-color: white;
//     width: 100%;
// }


.msgBottomInput{
    
}