@import '../variables.scss';

*{@include default}



// ===================== creativeProfileModal =====================

.creativeProfileModal{
    padding: 100px 8%;
}


.creativeProfileContent{
}



// =========================== Creative Left and Right ============================


.creativeViewcloseBtn{
    font-size: 16px;
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: fit-content;
    cursor: pointer;
}

.creativeProfilePart{
    display: flex;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.creativeLeftPart{
    display: flex;
    gap: 20px;
    align-items: center;
}

.subLeftPart h2{
    font-weight: 400;
}

.subLeftPart div{
    display: flex;
    align-items: center;
    gap: 20px;
}


.subLeftPart div span{
    padding: 5px 17px;
    background-color: $my-blue;
    color: white;
    border-radius: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 200;
}

.subLeftPart p{
    font-weight: 300;
}

.creativeProfileLocation{
    display: flex;
    align-items: center;
    gap: 5px;
}


.creativeViewIcons{
    color: $my-blue;
}


// =================== creativeRightPart ======================
.creativeRightPart{
    margin-left: auto;
    position: relative;
}

.creativeRightPart {
    display: flex;
    align-items: start;
    gap: 20px;
}



.creativeRightPart .favo{
    font-size: 16px;
    background-color: rgb(255, 241, 241);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: fit-content;
    cursor: pointer;
}




.creativeRightPart button{
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background-color: $my-blue;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 15px;
}

.creativeRightPart .start{
    background-color: white;
    border: $my-blue solid 1px;
    color: $my-blue;
}

.creatIconsBtn{
    font-size: 17px;
}

.messageModalDiv{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: 300px;
    padding: 30px;
    border-radius: 6px;
}


.messageModalDiv .messageModalTitle{
    padding: 6px 0;
    font-weight: 300;
}


.messageChat div{
    display: flex;
    align-items: center;
    margin-top: 20px;
    // justify-content: flex-end;
}

.messageChat h3{
    font-weight: 400;
}

.messageChat p{
    margin-left: auto;
    font-size: 20px;
    cursor: pointer;
}

.messageChat form{
    display: flex;
    // align-items: center;
}


.messageChat form input{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 250px;
    padding: 13px;
    border: none;
    outline: none;
}


.messageChat form span{
    background-color: $my-blue;
    padding: 13px;
    color: white;
    cursor: pointer;
}

.spaIcon{
    font-size: 20px;
}
.phoneDiv{
    display: flex;
}

.phoneDiv h3{
    font-size: 15px;
    font-weight: 400;
}

.phoneDiv p{
    margin-left: auto;
    align-items: center;
    display: flex;
    gap: 10px;
    color: $my-blue;
    cursor: pointer;
    text-decoration: underline;
}
.creativeLink{
    text-align: right;
    margin-top: 10px;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
}



// ===================== creativeProfileViewDescriptionPart ====================

.creativeProfileViewDescriptionPart{
    display: flex;
    gap: 30px;
    padding-top: 30px;
}


// ============================ Left ======================
.creativeProfileViewDescriptionLeft{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 40%;
    padding: 30px;
    border-radius: 10px;
}


.creativeProfileViewDescriptionLeft h2{
    font-size: 16px;
    font-weight: 400;
}

.creativeProfileViewDescriptionLeft h3{
    font-size: 15px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 5px;
}

.creativeProfileViewDescriptionLeft p{
    font-size: 12px;
    font-weight: 300;
}


.openDays{
    display: flex;
    align-items: center;
    padding-top: 6px;
}


.openDays .time{
    margin-left: auto;
}


.creativeProfileViewDescriptionLeft div img{
    width: 100%;
}

// ==================== Right ======================
.creativeProfileViewDescriptionRight{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 60%;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}


.creativeProfileViewDescriptionRight h2{
    font-weight: 400;
    font-size: 16px;
}


.creativeProfileViewDescriptionRight .detailsView{

}


.creativeProfileViewDescriptionRight .detailsView h3{
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
}


.detailsViewFLex div h3{
    padding: 0 !important;
}

.detailsViewFLex p{
    font-size: 12px;
    font-weight: 300;
}


.creativeProfileViewDescriptionRight .detailsViewFLex{
    display: flex;
    align-items: center;
    gap: 30px;
}

.creativeProfileViewDescriptionRight .detailsViewFLex p{
    width: 100%;
}

.creativeProfileViewDescriptionRight .detailsViewFLex div{
    width: 40%;
    margin-left: auto;
    text-align: right;
}


.webViewsDiv {
    padding-bottom: 20px;
}

.webViewsDiv .web{
    padding-bottom: 10px;
    color: $my-blue;
    text-decoration: underline;
    cursor: pointer;
}

.webViewsDiv div{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.webViewsDiv div span{
    border: solid 1px $my-blue;
    padding: 6px 15px;
    font-size: 12px;
}


.bioView{
    text-align: justify;
    font-size: 12px;
    font-weight: 300;
}

.creativeProfileViewRightImage{
    width: 100%;
}


.creativeProfileViewRightImage img{
    width: 100%;
    margin-bottom: 20px;
}


.rightImageDiv{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

.rightImageDiv img{
    width: 100px;
}


.frequentlyAsked {
    padding-top: 20px;
}


.frequentlyDiv{
    padding: 10px 0;
}

.frequentlyDiv h3{
    font-size: 15px;
    font-weight: 400;
    display: flex;
    align-items: center;
    cursor: pointer;
}

hr{
    margin-top: 10px;
}

.freqIcon{
    margin-left: auto;
    font-size: 15px;
}

.frequentlyDiv p{
    font-size: 12px;
    font-weight: 300;
    text-align: justify;
}


.reviews{
    text-align: center;
    margin-bottom: 30px;
}


.reviews h3{
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 10px;
}

.reviews p{
    font-size: 12px;
    font-weight: 300;

}

.reviews .reviewsProf{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}


.react-multiple-carousel__arrow{
    min-width: 25px;
    min-height: 25px;
    bottom: 70px;
}

.react-multiple-carousel__arrow::before{
    font-size: 13px;
}





@media only screen and (min-width: $small-One) and (max-width: $small-Two) {


    element.style {
        z-index: 3;
        position: absolute;
        height: 100%;
        width: 50% !important;
        padding: 0px;
        border-width: 0px;
        margin: 0px;
        left: 0px;
        top: 0px;
    }



    .creativeProfileModal{
        padding: 50px 0;
    }
    
    .creativeProfileContent{
        padding: 10px;
    }

    .creativeProfilePart{
        display: block;
        margin-top: 20px;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
    }

    .creativeLeftPart img{
        width: 40px;
    }

    .creativeLeftPart{
        display: block;
        gap: 10px;
        align-items: center;
    }


    .subLeftPart div h2{
        font-size: 18px;
    }

    .subLeftPart div span{
        font-size: 10px;
        padding: 5px 10px;
    }


    .subLeftPart p{
        font-size: 11px;
        padding-top: 5px;
    }


    .creativeRightPart{
        margin-top: 20px;
        display: block;
    }

    .creativeRightPart  button{
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        padding: 7px 15px;
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 12px;
        background-color: $my-blue;
        color: white;
        border: none;
    }


    .creativeRightPart .favo{
        margin-bottom: 10px;
        padding: 10px;
    }
    

    .creativeRightPart .start{
        background-color: white;
        color: $my-blue;
    }


    .messageModalDiv{
        
        // box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        position: absolute;
        top: 120%;
        left: -27px;
        background-color: white;
        width: 320px;
        padding: 30px;
        border-radius: 6px;
        border-radius: 10px;
        border: gainsboro solid 1px;
    }

    .creatIconsBtn{
        font-size: 15px;
    }
    .creativeLink{
        text-align: left;
        justify-content: flex-start;
        font-size: 12px;
    }

    

    .creativeProfileViewDescriptionPart{
        display: block;
        gap: 10px;
        padding-top: 30px;
    }




    .creativeProfileViewDescriptionLeft{
        background-color: white;
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;
    }


    .creativeProfileViewDescriptionRight{
        background-color: white;
        width: 100%;
        padding: 20px;
    }

    .creativeProfileViewDescriptionRight .detailsViewFLex{
        display: block;
        gap: 10px;
    }


    .creativeProfileViewDescriptionRight .detailsViewFLex h3{
        font-size: 16px;
    }
    
    .creativeProfileViewDescriptionRight .detailsViewFLex p{
        width: 100%;
    }
    
    .creativeProfileViewDescriptionRight .detailsViewFLex div{
        width: 100%;
        margin-left: auto;
        text-align: left;
    }

    .rightImageDiv{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        align-items: center;
        margin-top: 20px;
    }
    
    .rightImageDiv img{
        width: 100%;
    }


    
    .webViewsDiv div{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        padding-bottom: 10px;
    }
    
}