@import '../variables.scss';

*{@include default}



// ===================== TalentCompo ==============================

.talentSectionDiv{
    padding: 7% 5%;
    padding-bottom: 10px;
}
.talentSection{
    display: flex;
    background-color: $my-blue;
    color: $my-white;
    padding: 30px 5%;
    padding-top: 50px;
    align-items: center;
    border-radius: 10px;
}


.talentImgDiv{
    margin-left: auto;
}

.talentExplore h2{
    font-size: 45px;
    line-height: 50px;
}

.talentImgDiv img{
    width: 200px;
}


.talentDivArrow{
    background-color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    border: none;
    font-size: 13px;
}

.talentDivArrow .myBTN{
    font-size: 20px;
    padding: 0 !important;
}

.talentSection span{
    color: black;
    border: none;
    border-radius: 5px;
}


// ====================== Find Main section ==============================

.findMainSection{
    padding: 30px 5%;
    padding-bottom: 100px;
}

.findDiv{
    display: flex;
    gap: 30px;
    align-items: center;
}

.findDiv p{
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.mapIcon{
    color: orange;
}


.findDiv button{ 
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    background-color: $my-blue;
    color: $my-white;
    cursor: pointer;
}



// ============================ imagecard =============================

.imageSectionCard{
    padding-top: 50px;
}

.imagecard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
}


.imageSectP{
    padding-bottom: 20px;
}


.imageSectionCard h2{
    padding-top: 30px;
    font-weight: 400;
    font-size: 18px;
}

.cardDiv{
    border-radius: 5px;
    cursor: pointer;
    padding-bottom: 0;
    width: 100%;
}

.cardDivCarol{
    margin: 20px 10px;
    margin-bottom: 30px;
}

.imgCard {
    height: 250px;
    overflow: hidden;
    border-radius: 5px;
}

.imgCard img{
    width: 100%;
}


.cardProfileDiv{
    padding: 15px 0;
}


.cardProfileDiv h3{
    font-weight: 400;
    padding: 8px 0 !important;
}

.cardProfileDiv p{
    font-size: 12px;
}


.cardProfileDiv2{
    display: flex;
    align-items: center;
    gap: 10px;
}


.cardProfileDivImg{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.cardProfImageDiv{
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
}

.cardProfImageDiv img{
    width: 32px;
}


.proRating{
    display: flex;
    gap: 5px;
    align-items: center;
}

.cardProBtn{
    margin-left: auto;
}


.cardProfilePrice{
    display: flex;
    align-items: center;
    gap: 10px;

}


.cardProfilePrice button{
    font-size: 10px;
    border: none;
    background-color: rgb(217, 216, 216);
    padding: 2px 5px;
    border-radius: 5px;
}


.cardProBtn2 {
    margin-left: auto;
    align-items: center;
    display: flex;
}



.cardProBtn2 button{
    display: flex;
    gap: 5px;
    padding: 5px 10px;
    border: none;
    background-color: rgb(182, 141, 219);
    color: white;
    align-items: center;
    border-radius: 20px;
    font-size: 9px;
}


.mytitle{
    padding-top: 20px;
}

.mytitle h4{
    font-weight: 600;
    padding-bottom: 5px;
}


// ======================== Explore Section =========================
.ExploreCategoryAll{
    background-color: rgb(243, 243, 243);
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.exploreDivAll{
    display: flex;
    align-items: center;
}

.exploreDivAll h2{
    font-weight: 400;
}

.exploreDivAll p{
    margin-left: auto;
    cursor: pointer;
}

.categorybtn{
    display: flex;
    gap: 20px;
    padding-top: 10px;
    width: 100%;
}

.categorybtn span{
    
    padding: 10px 15px;
    border-radius: 10px;
    border: gray 1px solid;
    background: nones;
    cursor: pointer;
}






@media only screen and (min-width: $small-One) and (max-width: $small-Two) {
    .findMainSection{
        padding: 30px 4%;
        padding-bottom: 100px;
    }
   
    
    .findDiv p{
        font-size: 12px;
    }
   
    .talentSectionDiv{
        padding: 20% 3%;
        padding-bottom: 0;
    }


    .talentSection{
        display: block;
        padding: 50px 3%;
        border-radius: 10px;
    }


    
    .imagecard{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .imageSectionCard{
        padding-top: 20px;
    }

    .imageSectionCard h2{
        padding-top: 0;
        font-weight: bold;
    }


    .talentExplore{
        padding: 20px;
    }


    .talentExplore h2{
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 20px;
    }


    .talentImgDiv img{
        width: 70%;
        padding-top: 50px;
        display: none;
    }

    .findDiv{
        display: flex;
    }


    .findDiv button{
        padding: 10px;
        font-size: 12px;
        margin: 0;
    }

    .imagecardCarol{

    }


    .cardDivCarol{
        padding: 0;
        margin: 0;
        margin-bottom: 25px;
    }


    .imgCard {
        height: 250px;
        overflow: hidden;
        border-radius: 5px;
    }
    
    .imgCard img{
        width: 102%;
        border-radius: 5px;
    }
    

    // ================== Explore Div ======================
    .ExploreCategoryAll{
        padding: 20px 20px;
        margin-bottom: 20px;
    }

    .exploreDivAll h2{
        font-size: 15px;
    }

    .exploreDivAll p{
        font-size: 12px;
    }

    .categorybtn{
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
        gap: 10px;
        padding-top: 20px;
    }

    .categorybtn span{
        font-size: 11px;
        padding: 10px 15px;
        border-radius: 5px;
    }


    .cardProfileDiv{
        padding: 10px 5px;
        color: black;
    }


    .cardProfImageDiv{
        width: 30px;
    }
    

    .cardProfImageDiv img{
        width: 32px;
    }


    .cardProfileDivImg p{
        font-size: 12px;
    }

    .cardProfileDiv h3{
        font-weight: bold;
        font-size: 13px;
        color: black;
        padding: 5px 10px !important;
        border-radius: 5px;
        border: solid 1px gainsboro;
    }


    .cardProfileDiv p{
        font-size: 12px;
    }

    .cardProfileDiv2 {
        align-items: center;
        padding-top: 0;
    }

    .cardProBtn2 button{
        font-size: 9px;
        border-radius: 20px;
        padding: 5px 10px;
    }


    .cardProBtn button{
        font-size: 9px;
        border-radius: 5px;
        padding: 5px 10px;
    }

    .mytitle{
        gap: 20px;
        padding-top: 10px;
    }


    .mytitle h3{
        font-size: 13px;
    }

    .mytitle p{
        margin-left: auto;
    }
    
}

