@import '../variables.scss';

*{@include default}



// ===================== TalentCompo ==============================


.talentSection{
    display: flex;
    background-color: $my-blue;
    color: $my-white;
    padding: 40px 5%;
    padding-top: 100px;
    align-items: center;
}


.talentImgDiv{
    margin-left: auto;
}

.talentExplore h2{
    font-size: 45px;
    line-height: 50px;
}

.talentImgDiv img{
    width: 300px;
}



// ====================== Find Main section ==============================

.findMainSection{
    padding: 30px 5%;
}

.findDiv{
    display: flex;
    gap: 30px;
    align-items: center;
}

.findDiv p{
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.mapIcon{
    color: orange;
}


.findDiv button{ 
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
    background-color: $my-blue;
    color: $my-white;
}



// ============================ imagecard =============================

.imageSectionCard{
    padding-top: 50px;
}
.imagecard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}


.cardDiv{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: $my-white;
    border-radius: 15px;
    cursor: pointer;
}

.imgCard img{
    width: 100%;
    border-radius: 20x 20px 0 0;
}

.cardProfileDiv{
    padding: 20px;
}


.cardProfileDiv h3{
    font-weight: 400;
}


.cardProfileDiv2{
    display: flex;
    align-items: center;
}


.cardProfileDivImg{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;

}
.cardProfileDivImg img{
    width: 30px;
}


.cardProBtn{
    margin-left: auto;
}


.cardProBtn2 {
    margin-left: auto;
}

.cardProBtn button{
    display: flex;
    gap: 5px;
    padding: 8px 20px;
    border: none;
    background-color: $my-blue;
    color: $my-white;
    align-items: center;
    border-radius: 20px;
}


.cardProBtn2 button{
    display: flex;
    gap: 5px;
    padding: 8px 20px;
    border: none;
    background-color: rgb(231, 231, 231);
    color: $my-blue;
    align-items: center;
    border-radius: 20px;
}



@media only screen and (min-width: $small-One) and (max-width: $small-Two) {
    
    .talentSection{
        display: block;
        padding: 100px 5%;
        padding-bottom: 20px;
    }
    
    .imagecard{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }


    .talentExplore h2{
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 20px;
    }


    .findDiv{
        display: block;
    }


    .findDiv button{
        margin-top: 20px;
    }
}

