
@import '../variables.scss';

*{@include default}



// ===================== User Narvbar =================================

.userNavbarSection{
    display: flex;
    align-items: center;
    padding: 10px 5%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: $my-white;
    width: 100%;
    position: fixed;
    z-index: 100;


}


.userNavFirstDiv{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 40px;
}


.userSearchDiv{
    position: relative;
    width: 100%;
}

.userSearchDiv input{
    width: 40%;
    padding: 12px 50px;
    margin-top: 10px;
    border-radius: 30px;
    border: 1px solid $my-blue;
    outline: none;

    &:focus {
        border-color: $my-blue;
        box-shadow: 0 0 5px rgba(172, 130, 214, 0.5);
      }
}


.userSearchIcon{
    position: absolute;
    top: 25px;
    left: 2%;
}


.searchBtn{
    display: none;
}


.userSearchDiv button{
    padding: 12px 30px;
    border-radius: 0 20px 20px 0 ;
    background-color: $my-blue;
    color: $my-white;
    border: none;
    position: absolute;
    top: 11px;
    left: 31.6%;
    cursor: pointer;
}


.userNavSecondDiv{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 30px;
}


.userNavIcon{
    background-color: rgb(244, 244, 244);
    width: 10%;
    padding: 8px 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    
}

.userNavIcon p{
    background-color: red;
    border-radius: 50%;
    padding: 4px;
    position: absolute;
    top: 0;
    right: 0;
}


.userIcon{
    font-size: 18px;
    color: black;
    display: flex;
}

.userNavProfile{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}


.userNavProfile p{
    font-size: 12px;
    font-weight: 400;
}

.myStatic{
    position: relative;
}

.myOnTop{
    position: absolute;
    top: 0;
    left: 0;
}

.userNavProfile img{
    border-radius: 50%;
    height: 30px;
}


// ======================== Navbar notify ====================

.navNotifyModal{
    display: block;
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    // z-index: 0;
}


.navNotifyContent{
    background: white;
    position: absolute;
    padding: 30px 30px;
    width: 30%;
    height: 300px;
    right: 0;
    top: 0;
}

.navNotifyContent .notDiv{
    display: flex;
    align-items: center;
}


.notDiv p{
    margin-left: auto;
    font-size: 25px !important;
    cursor: pointer;
    font-weight: 100;
}

.notDiv h2{
    font-size: 18px;
    font-weight: 400;
}

.notProf{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.notProf p{
    font-size: 12px;
    font-weight: 300;
}

hr{
    border: 0.5px solid rgb(236, 236, 236);
    padding: 0;
    height: 0;
}

.accountNot span{
    border: solid 1px rgb(191, 191, 191);
    padding: 7px 20px;
    display: inline-block;
    margin: 10px 0;
    border-radius: 10px;
}

.accountNot p{
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 300;
    color: black;
}


.smallSearchInput{
    display: none;
}

@media only screen and (min-width: $small-One) and (max-width: $small-Two) {
    .userNavbarSection{
        padding: 10px 7%;
        align-items: center;
    }

    .userLogo{


    }
    
    .userLogo img{
        width: 20px;
        display: flex;
        align-items: center;
    }
    
    .searchBtn{
        display: block;
    }


    .smallSearchInput{
        position: absolute;
        top: 0;
        left: 0;
        background-color: $my-blue;
        width: 100%;
        z-index: 100;
        display: flex;
        padding: 30px 10px;
        gap: 5px;

    }

    .smallSearchInput input{
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        width: 100%;
        padding: 15px;
        padding-left: 50px;
        border: none;
        border-radius: 30px;
        font-size: 15px;
    }

    .smallSearchInput .arrowback{
        position: absolute;
        top: 45px;
        left: 25px;
        font-size: 20px;
    }


    .userSearchDiv{
        display: none;
    }

    .nameEmail{
        display: none;
    }

    .userNavIcon{
        padding: 5px;
        background-color: rgb(238, 238, 238);
        width: 100%;
    }


    .searchBtn{
        display: block;
        font-size: 18px;
    }
    
    

    .userNavSecondDiv{
        gap: 15px;
    }

    .userNavSecondDiv .userNavIcon{
        display: none;
    }

    
    .searchIconDiv{
        background-color: rgb(238, 238, 238);
        padding: 5px 6px;
        margin-right: 10px;
        border-radius: 50%;
    }

    .userIcon{
        font-size: 15px !important; 
    }

    
    .userNavProfile{
        margin-left: auto;
        display: block;
    }


    .userNavProfile img{
        width: 30px;
    }



    .navNotifyModal{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        align-items: center;
        justify-content: center;
        z-index: 3;
    }
    
    
    .navNotifyContent{
        background: white;
        position: absolute;
        padding: 20px 20px;
        width: 100%;
        height: 100vh;
        right: 0;
        top: 0;
    }


    .notProf p{
        font-size: 15px;
    }


    .accountNot span{
        font-size: 15px;
    }

    .accountNot p{
        font-size: 15px;
    }

    // .navNotifyContent p{
    //     font-size: 15px !important;
    // }


}





@media only screen and (min-width: 481px) and (max-width: 768px) {
    .userNavbarSection{
        padding: 10px 7%;
    }
    
    .userLogo img{
        width: 30px;
    }
    
    .searchBtn{
        display: block;
    }




    .userSearchDiv{
        display: none;
    }

    .nameEmail{
        display: none;
    }

    .userNavIcon{
        padding: 5px;
        background-color: rgb(238, 238, 238);
        width: 100%;
    }


    .searchBtn{
        display: block;
        font-size: 15px;
    }
    
    

    .userNavSecondDiv{
        gap: 10px;
    }

    
    .searchIconDiv{
        background-color: rgb(238, 238, 238);
        padding: 5px 7px;
        margin-right: 10px;
        border-radius: 5px;
    }


    .userIcon{
        font-size: 15px;
    }

    
    .userNavProfile{
        margin-left: auto;
        display: block;
    }


    .userNavProfile img{
        width: 30px;
    }
}