@import '../variables.scss';

*{@include default}


// =================== sectionThree =================================
.sectionThree{
    padding: 50px 8%;
}

.sectionThree h2{
    font-size: 25px;
    font-weight: 500;
}

.sectionThreeFlex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 50px;
    padding-top: 20px;
}


.secThreeDiv{
    background-color: $my-white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px 50px;
}

.secThreeDiv img{
    width: 70px;
    background-color: rgb(243, 243, 243);
    padding: 15px 10px;
    border-radius: 50%;
}


// ================== Become =====================

.becomeDiv{
    background-color: $my-pink;
    padding: 30px;
    display: flex;
    margin-top: 40px;
    padding: 40px 10%;
    border-radius: 20px;
    align-items: center;
}

.becomeDiv h3{
    font-size: 40px;
}

.becomeDiv p{
    padding: 20px 0;
}

.becomeDiv button{
    padding: 13px 30px;
    border: none;
    background-color: $my-blue;
    color: $my-white;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.becomeDiv button:hover {
    background-color: #ad91cd;
}



.becomeImgDiv{
    margin-left: auto;
}

.becomeImgDiv img{
    width: 250px;
}

@media only screen and (min-width: $small-One) and (max-width: $small-Two) {
    .sectionThree{
        padding: 50px 7%;
        text-align: center;
    }

    .secThreeDiv{
        background-color: $my-white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 20px;
        text-align: left;
    }

    .sectionThree h2{
        font-size: 17px;
        font-weight: 500;
    }

    .sectionThreeFlex{
        display: block;
    }

    .secThreeDiv{
        margin-bottom: 30px;
    }


    .secThreeDiv h3{
        font-size: 20px;
        font-weight: 500;
        text-align: left;
    }


    .secThreeDiv p{
        font-size: 13px;
        font-weight: 400;
        padding-top: 10px;
        text-align: left;
    }

    .secThreeDiv img{
        width: 50px;
        text-align: left;
    }


    // ====================== becomeDiv ============================

    .becomeDiv{
        display: block;
        text-align: left;
        border-radius: 5px;
    }

    .becomeDiv h3{
        font-size: 20px;
        line-height: 20px;
    }

    .becomeDiv p{
        font-size: 13px;
    }


    .becomeImgDiv img{
        width: 100%;
        margin-top: 20px;
        display: none;
    }

    .becomeDiv button{
        padding: 10px 20px;
        border: none;
        @include button-style
    }
}


@media only screen and (min-width: 481px) and (max-width: 768px) {
    .sectionThreeFlex{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        gap: 20px;
        padding-top: 20px;
    }

    .secThreeDiv p{
        font-size: 12px;
    }

    .becomeDiv{
        display: flex;
    }

    .becomeDiv h3{
        font-size: 20px;
    }

    .becomeImgDiv img{
        width: 150px;
    }

    .becomeDiv button{
        padding: 10px 20px;
        border: none;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {
    .sectionThreeFlex{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        gap: 20px;
        padding-top: 20px;
    }

    .secThreeDiv p{
        font-size: 12px;
    }

    .becomeDiv{
        display: flex;
    }

    .becomeDiv h3{
        font-size: 20px;
    }

    .becomeImgDiv img{
        width: 150px;
    }

    .becomeDiv button{
        padding: 10px 20px;
        border: none;
    }
}


@media only screen and (min-width: $large-One) and (max-width: $large-Two) {
    .sectionThreeFlex{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        gap: 15px;
        padding-top: 20px;
    }

    .secThreeDiv p{
        font-size: 12px;
    }

    .becomeDiv{
        display: flex;
    }

    .becomeDiv h3{
        font-size: 20px;
    }

    .becomeImgDiv img{
        width: 150px;
    }

    .becomeDiv button{
        padding: 10px 20px;
        border: none;
    }
}