
@import '../variables.scss';

*{@include default}



// ======================= SectioOne  ==============================

.sectionOne{
    padding-top: 18%;
    text-align: center;
    // background-color: $my-white;
    height: 100vh;
    // z-index: -1;
}

.h2Show{
    display: block;
}



.sectionSubDiv span{
    color: $my-blue;
}
.h2Hide{
    display: none;
}


.sectionOne::before{
    background-image: url('./Images/back.png');
    height: 100vh;
    width: 100%;
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    inset: 0;

    transform: scale();
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }   
}





.sectionOne h2{
    font-size: $big-fonts;
    font-weight: 500;
    line-height: 70px;
}

.sectionSubDiv{
    z-index: 3;
    isolation: isolate;
}
.sectionSubDiv .pOne{
    padding: 10px 0;
}



.searchDiv{
    position: relative;
}

.searchDiv input{
    width: 30%;
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid gainsboro;
    outline: none;

    &:focus {
        border-color: $my-blue;
        box-shadow: 0 0 5px rgba(212, 212, 212, 0.5);
      }
}


.searchIcon{
    position: absolute;
    top: 27px;
    left: 36%;
    font-size: 20px;
}


.searchDiv button{
    padding: 20px 30px;
    border-radius: 0 5px 5px 0 ;
    background-color: $my-blue;
    color: $my-white;
    border: none;
    position: absolute;
    top: 11px;
    right: 35%;
    cursor: pointer;
}


.popularDiv{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

.popularDiv2{
    display: flex;
    gap: 10px;
    align-items: center;
}

.popularDiv button{
    border: rgb(192, 192, 192) solid 1px;
    background-color: $my-white;
    cursor: pointer;
    @include button-style
}

.smallImg{
    display: none;
}


// ========================= Carosel section =========================
.caroselSection{
    padding: 50px 5%;
    text-align: center;
}

.caroselSection h2{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    padding: 20px 0;
}

.caroImageDiv{
    width: 100%;
    padding-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.caroImageDiv img {
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    padding: 0;
}


.caroImageDiv p{
    text-align: left;
    font-size: 13px !important;
}



.overlayDiv {
    position: relative;
    overflow: hidden;
  }
  

  .overlay {
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0; 
    transition: opacity 0.5s ease;
  }

  .overlayDiv:hover .overlay {
    opacity: 1;
  }

.allBtn{
    padding: 10px 30px;
    border: solid 1px $my-blue;
    background-color: $my-white;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: auto;
    font-size: 15px;
    gap: 5px;
}

.react-multiple-carousel__arrow {
    z-index: 0;
}




@media only screen and (min-width: $small-One) and (max-width: $small-Two) {
    .h2Show{
        display: none;
    }

    .h2Hide{
        display: block;
    }

    .sectionSubDiv span{
        color: $my-blue;
        font-style: italic;
        font-weight: 500;
    }


    .caroImageDiv{
        padding-left: 10px;
    }

    .overlayDiv img{
        border-radius: 5px;
    }

    .react-multiple-carousel__arrow {
        z-index: 0;
    }
    


    .sectionOne{
        padding: 100px 7%;
        padding-bottom: 20px;
        height: 100%;
    }


    .sectionOne::before{
        display: none;
    }

    .sectionOne h2{
        font-size: 35px;
        font-weight: 400;
        line-height: 45px;
        text-align: left;
    }

    .pOne{
        text-align: left;
        font-size: 15px;
    }

    .searchDiv input{
        width: 100%;
        padding: 16px 40px;
    }

    .searchDiv button{
        padding: 16px 20px;
        right: 0;
        cursor: pointer;
    }

    .searchIcon{
        position: absolute;
        top: 25px;
        left: 16px;
        font-size: 16px;
    }
    

    .popularDiv{
        display: block;

    }

    .popularDiv2{
        display: grid;
        gap: 10px;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        justify-content: start;
    }
    
    
    .popularDiv button{
        border: rgb(192, 192, 192) solid 1px;
        background-color: $my-white;
        cursor: pointer;
        width: 100%;
        @include button-style;
        text-align: center;
    }

    .smallImg{
        display: block;
        margin-top: 30px;
    }

    .smallImg img{
        display: block;
        width: 100%;
    }

    .caroImageDiv{
        width: 100%;
        padding-right: 0;
        margin-bottom: 10px;
    }
    
    .caroImageDiv img {
        width: 100%;
    }


    // ===================== Carosel section ===================
    .caroselSection{
        padding: 10px 7%;
        text-align: left;
    }

    .caroselSection h2{
        font-size: 15px;
        line-height: 25px;
        font-weight: 400;
    }


    .caroImageDiv p{
        text-align: left;
        font-size: 15px;
    }

    .allBtn{
        padding: 10px 30px;
        border-radius: 5px;
        font-size: 13px;
        gap: 5px;
        // width: 50%;
        margin: 0;
        align-self: center;
        text-align: left;
        margin-bottom: 30px;
    }

    
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .react-multiple-carousel__arrow {
        z-index: 0;
    }


    .overlayDiv img{
        border-radius: 5px !important;
    }

    .sectionOne{
        padding: 100px 7%;
        padding-bottom: 50px;
        height: 100%;
    }


    .sectionOne::before{
        display: none;
    }


    .searchDiv input{
        width: 50%;
    }
    
    
    .searchIcon{
        left: 28%;
    }
    
    
    .searchDiv button{
        right: 25%;
    }


    .caroselSection h2{
        font-size: 18px;
        line-height: 20px;
    }
}


@media only screen and (min-width: 769px) and (max-width: 1023px) {
    .sectionOne{
        height: 90vh;
    }
    .sectionOne::before{
        display: none;
    }

    .sectionOne h2{
        font-size: 45px;
        font-weight: 500;
        line-height: 50px;
    }

    .popularDiv button{
        padding: 10px 15px;
        border-radius: 5px;
        border: $my-blue solid 1px;
        background-color: $my-white;
        cursor: pointer;
    }

    .caroselSection{
        padding: 10px 5%;
        text-align: center;
    }

    .caroselSection h2{
        font-size: 18px;
        line-height: 20px;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {

    .sectionOne{
        height: 90vh;
    }
    .sectionOne::before{
        display: none;
    }

    .sectionOne h2{
        font-size: 45px;
        font-weight: 500;
        line-height: 50px;
    }

    .popularDiv button{
        padding: 10px 15px;
        border-radius: 5px;
        border: $my-blue solid 1px;
        background-color: $my-white;
        cursor: pointer;
    }

    .caroselSection{
        padding: 10px 5%;
        text-align: center;
    }
    

    .caroselSection h2{
        font-size: 18px;
        line-height: 20px;
    }
}


