@import '../variables.scss';

*{@include default}


// ======================== testimonyDiv ==============================


.testimonySection{
    padding: 50px 8%;
}

.testimonySection h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}



.testimonyDiv{
    border: rgb(182, 182, 182) solid 1px;
    padding: 30px;
    margin-right: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}


.testimony{
    text-align: left;
    font-size: 15px;
}

.qoute{
    font-size: 20px;
}

.testProDiv{
    display: flex;
    gap: 10px;
    padding-top: 20px;
}

.starDiv{
    display: flex;
    gap: 5px;
}

.starIcon{
    font-size: 10px;
    color: rgb(197, 197, 197);
}



// ==================== hireDiv =================================

.hireDiv{
    display: flex;
    align-items: center;
    background-color: $my-blue;
    padding: 30px 15%;
    gap: 200px;
    justify-content: center;
}

.hireDiv img{
    width: 100%;
}

.hireText{
    // margin-left: auto;
}

.hireText h3{
    font-size: 40px;
    color: $my-white;
}

.hireText p{
    font-size: 20px;
    color: $my-white;
    padding: 10px 0;
}

.hireText button{
    padding: 13px 30px;
    background-color: $my-white;
    color: black;
    font-size: 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.hireText button:hover{
    background-color: aliceblue;
    transition: all 0.2s ease;
}

@media only screen and (min-width: $small-One) and (max-width: $small-Two) {
    .testimonySection{
        padding: 20px 8%;
    }
    

    .hireDiv img{
        width: 80%;
    }
    
    .testimonySection h2{
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .testimonyDiv{
        border: rgb(182, 182, 182) solid 1px;
        padding: 20px ;
        margin-right: 0;
    }

    .testimony{
        text-align: left;
        font-size: 11px;
    }


    .hireDiv{
        display: block;
        padding: 30px 6%;
        gap: 0;
    }

    .hireText h3{
        font-size: 15px;
        color: $my-white;
        padding-top: 10px;
        font-weight: 400;
    }
    
    .hireText p{
        font-size: 12px;
        color: $my-white;
        padding: 10px 0;
    }

    .hireText button{
        padding: 10px 30px;
        background-color: $my-white;
        color: black;
        font-size: 12px;
    }
    
    
}


@media only screen and (min-width: 481px) and (max-width: 768px) {
    
    .testimony{
        text-align: justify;
        font-size: 11px;
    }

    .hireText h3{
        font-size: 22px;
        color: $my-white;
        padding-top: 10px;
    }

    .hireDiv{
        display: flex;
        padding: 30px 6%;
        gap: 20px;
    }
    .hireText button{
        padding: 10px 30px;
        background-color: $my-white;
        color: black;
        font-size: 12px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {
    .testimony{
        text-align: justify;
        font-size: 11px;
    }

    .hireText h3{
        font-size: 22px;
        color: $my-white;
        padding-top: 10px;
    }

    .hireDiv{
        display: flex;
        padding: 30px 6%;
        gap: 20px;
    }
    .hireText button{
        padding: 10px 30px;
        background-color: $my-white;
        color: black;
        font-size: 12px;
    }
}

@media only screen and (min-width: $large-One) and (max-width: $large-Two) {
    .testimony{
        text-align: left;
        font-size: 11px;
    }

    .hireDiv{
        display: flex;
        padding: 30px 6%;
        gap: 20px;
    }
    .hireText button{
        padding: 10px 30px;
        background-color: $my-white;
        color: black;
        font-size: 12px;
    }
}