
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@mixin default{
    font-family: "DM Sans", sans-serif;
    // font-optical-sizing: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin button-style{
    padding: 13px 30px;
    border-radius: 5px;
    font-size: 15px;
}

@mixin small-font{
    font-weight: 400;
    font-size: 13px;
}


@mixin hover-blue{
    background-color:#1127e3;
}

// =========== Color =============
$my-white: white;
$my-blue: rgb(2, 2, 58);
$my-orange: #E45865;
$my-verify: rgb(124, 105, 234);

$my-gray: #F5F5F5;
$my-pink: #FDF0EA;



// ============= Screens =================
$small-One : 320px;
$small-Two : 480px;
$medium-One : 481px ;
$medium-Two : 768px;
$large-One : 1025px;
$large-Two : 1200px;


// ================ Fonts Size ================
$big-fonts : 60px;
$medium-fonts : 30px;


a{
    text-decoration: none;
}
