@import '../variables.scss';

*{@include default}

// =================== Login Form =================

.loginSection{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: $my-white;
}


.arrow {
    color: $my-blue;
    font-size: 30px;
}


.loginInputDiv{
    width: 100%;
    padding: 0 10%;
}

.loginInputDiv h2{
    font-size: 40px;
    font-weight: 400;
    padding-top: 20px;
}

.forget{
    padding-top: 20px;
}

.inputDiv{
    padding-top: 10px;
    position: relative;
}


.eye{
    position: absolute;
    right: 20px;
    bottom: 15px;
    font-size: 17px;
    cursor: pointer;
}
.inputDiv p{
    padding-bottom: 10px;
}

.inputDiv input{
    width: 100%;
    padding: 18px;
    border-radius: 10px;
    outline: none;
    border: rgb(204, 204, 204) solid 1px;
    &:focus {
        // border-color: $my-blue;
        box-shadow: 0 0 5px rgba(172, 130, 214, 0.5);
      }

      font-size: 14px;
}


.loginInputDiv .loginBtn{
    width: 100%;
    padding: 13px;
    background-color: $my-blue;
    color: $my-white;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 15px;
}


.hrDiv {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 10px 0;
    align-items: center;
}


.googleDiv button{
    padding: 15px;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    font-size: 15px;
}



.hrDiv hr{
    width: 100%;
    height: 0;
}


.dontFlex{
    display: flex;
}

.dontpFlex{
    margin-left: auto;
    color: $my-blue;
    cursor: pointer;
}



// ===================================== Video div ============================

.videoDiv{
    width: 100%;
    overflow: hidden;
}

.videoDiv video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}


.errorMessage{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.errorMessage p {
    background:$my-blue;
    padding: 30px;
    width: 100%; 
    top: 0;
    align-self: flex-start;
    font-size: 20px;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: white;
    cursor: pointer;
}


.closeMsgIcon{
    margin-left: auto;
    font-weight: 500;
}

.warining{
    font-size: 12px;
    color: rgb(104, 76, 104);
    padding-top:20px ;
}


.warining p{
    padding-bottom: 5px;
    font-weight: 300;
}
// ============================ Responsiveness =============================


@media only screen and (min-width: $small-One) and (max-width: $small-Two) {
    .videoDiv{
        display: none;
    }

    .inputDiv p{
        font-size: 13px;
    }

    .loginSection{
        padding-top: 50px;
    }

    .loginInputDiv{
        width: 100%;
        padding: 0 7%;
    }

    .loginInputDiv img{
        width: 40px;
    }

    .loginInputDiv h2{
        font-size: 25px;
        padding: 20px 0;
        padding-bottom: 0;
        font-weight: bold;
    }

    .arrow {
        color: $my-blue;
        font-size: 30px;
        width:fit-content;
    }
    

    .inputDiv input{
        padding: 15px;
        font-size: 13px;
        border-radius: 5px;
    }


    .inputDiv p{
        font-size: 13px;
        font-weight: 600;
        padding-top: 10px;
    }

    .loginInputDiv .loginBtn{
        padding: 15px;
        font-size: 13px;
    }

    .googleDiv button{
        font-size: 13px;
        padding: 15px;
        border-radius: 5px;
    }

    .dontFlex{
        font-size: 12px;
    }
    

    .forget{
        font-size: 13px;
        padding-top: 30px;
        font-weight: bold;
    }

    .errorMessage p {
        // background: white;
        font-weight: 300;
        font-size: 15px;
        padding: 20px;
        width: 100%; 
        top: 0;
        align-self: flex-start;
    }
}



@media only screen and (min-width: 481px) and (max-width: 768px) {
    .loginSection{
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        background-color: $my-white;
        border: gray 1px solid;
    }


    .loginInputDiv{
        width: 100%;
        padding: 0 3%;
    }
}


.loaderModal{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    z-index: 100;
}


.loaderModalContent {
    background: white;
    position: relative;
    padding: 30px;
    width: 53%; 
    max-height: 80vh;
}

// .loader {
//     width: 8px;
//     height: 40px;
//     border-radius: 4px;
//     display: block;
//     margin: 20px auto;
//     position: relative;
//     background: currentColor;
//     color: #FFF;
//     box-sizing: border-box;
//     animation: animloader 0.3s 0.3s linear infinite alternate;
//   }
  
//   .loader::after, .loader::before {
//     content: '';
//     width: 8px;
//     height: 40px;
//     border-radius: 4px;
//     background: currentColor;
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     left: 20px;
//     box-sizing: border-box;
//     animation: animloader 0.3s  0.45s  linear infinite alternate;
//   }
//   .loader::before {
//     left: -20px;
//     animation-delay: 0s;
//   }
  
//   @keyframes animloader {
//     0%   { height: 48px} 
//     100% { height: 4px}
//   }


  



.loader {
    width: 20px;
    height: 20px;
    border: 2px solid #FFF;
    border-bottom-color: skyblue;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

// .loader {
//     width: 16px;
//     height: 16px;
//     border-radius: 50%;
//     display: block;
//     margin:15px auto;
//     position: relative;
//     background: #FFF;
//     box-shadow: -24px 0 #FFF, 24px 0 #FFF;
//     box-sizing: border-box;
//     animation: shadowPulse 2s linear infinite;
//   }
  
//   @keyframes shadowPulse {
//     33% {
//       background: #FFF;
//       box-shadow: -24px 0 $my-blue, 24px 0 #FFF;
//     }
//     66% {
//       background: $my-blue;
//       box-shadow: -24px 0 #FFF, 24px 0 #FFF;
//     }
//     100% {
//       background: #FFF;
//       box-shadow: -24px 0 #FFF, 24px 0 $my-blue;
//     }
//   }