@import '../variables.scss';

*{@include default}

// =================== Login Form =================

.loginSection{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: $my-white;
}


.arrow {
    color: $my-blue;
    font-size: 30px;
}


.loginInputDiv{
    width: 100%;
    padding: 0 10%;
}

.loginInputDiv h2{
    font-size: 40px;
    font-weight: 400;
    padding-top: 20px;
}

.forget{
    padding-top: 20px;
}

.inputDiv{
    padding-top: 10px;
    position: relative;
}


.eye{
    position: absolute;
    right: 20px;
    bottom: 15px;
    font-size: 17px;
    cursor: pointer;
}
.inputDiv p{
    padding-bottom: 10px;
}

.inputDiv input{
    width: 100%;
    padding: 18px;
    outline: none;
    border: rgb(204, 204, 204) solid 1px;
    &:focus {
        // border-color: $my-blue;
        box-shadow: 0 0 5px rgba(172, 130, 214, 0.5);
      }
}


.loginInputDiv .loginBtn{
    width: 100%;
    padding: 13px;
    background-color: $my-blue;
    color: $my-white;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 15px;
}


.hrDiv {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
    align-items: center;
}


.googleDiv button{
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    font-size: 15px;
}



.hrDiv hr{
    width: 100%;
    height: 0;
}


.dontFlex{
    display: flex;
}

.dontpFlex{
    margin-left: auto;
    color: $my-blue;
    cursor: pointer;
}



// ===================================== Video div ============================

.videoDiv{
    width: 100%;
    overflow: hidden;
}

.videoDiv video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}




// ============================ Responsiveness =============================


@media only screen and (min-width: $small-One) and (max-width: $small-Two) {
    .videoDiv{
        display: none;
    }

    .inputDiv p{
        font-size: 12px;
    }

    .loginSection{
        padding-top: 80px;
    }

    .loginInputDiv{
        width: 100%;
        padding: 0 7%;
    }

    .loginInputDiv img{
        width: 60px;
    }

    .loginInputDiv h2{
        font-size: 20px;
        padding-top: 20px;
    }

    .arrow {
        color: $my-blue;
        font-size: 30px;
        width:fit-content;
    }
    

    .inputDiv input{
        padding: 15px;
    }

    .loginInputDiv .loginBtn{
        padding: 12px;
        font-size: 12px;
    }

    .googleDiv button{
        font-size: 12px;
        padding: 12px;
    }

    .dontFlex{
        font-size: 12px;
    }
    

    .forget{
        font-size: 12px;
    }
}



@media only screen and (min-width: 481px) and (max-width: 768px) {
    .loginSection{
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        background-color: $my-white;
        border: gray 1px solid;
    }


    .loginInputDiv{
        width: 100%;
        padding: 0 3%;
    }
}