
@import '../variables.scss';

*{@include default}


// ====================== creativeSide ==================

a{
  color: black;
}
.creativeSide{
    background-color: $my-blue;
    width: 250px;
    padding: 100px 30px ;
    height: 100vh;
    position: fixed;
    color: white;
}


.createH2Text{
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 20px;
}


.creativeParaDiv{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.creativeSide div p{
    font-size: 13px;
    cursor: pointer;
    color: rgb(189, 186, 186);
}