
@import '../variables.scss';

*{@include default}


// ====================== creativeSide ==================

a{
  color: black;
}
.creativeSide{
    background-color: #f7f7fa;
    width: 250px;
    padding: 100px 30px ;
    height: 100vh;
    position: fixed;
}


.createH2Text{
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 20px;
}


.creativeSide div p{
    padding-bottom: 20px;
    
}
.completeRate{
    padding-top: 60px;
}

.completeRate h2{
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 20px;
}


.completeRate img{
    width: 100%;
    display: flex;
    margin: auto;
    justify-self: center;
}





// ==================== Check box style ==============
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .container:hover input~.checkmark {
    background-color: #ccc;
  }
  
  .container input:checked~.checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  

  .container input:checked ~.checkmark:after {
    display: block;
  }
  

  .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }