@import '../variables.scss';

*{@include default}


// ======================== Registration Option ================= ==========

.newOp{
    display: none;
}
.optionSection{
    padding: 70px 5%;
    cursor: pointer;
}


.optionGenDiv{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}


.optionImageDiv{
    width: 35%;
}
.optionImageDiv img{
    width: 100%;
    border-radius: 10px;
}


.optionGenDiv h2{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.optioDivs {
    padding: 30px;
    border: grey solid 1px;
    margin: 20px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: transform ease 0.5s;
    color: black;
    width: 100%;
}

.optioDivs:hover {
    background-color: rgb(244, 244, 244);
    transform: scale(0.9);
    border: none;
}

.optioDivs h3{
    font-size: 20px;
    align-items: center;
    display: flex;
    gap: 10px;
    color: $my-blue;
}


.optioDivs p{
    padding-top: 10px;
}


@media only screen and (min-width: $small-One) and (max-width: $small-Two) {
    
    .optioImageDiv{
        display: none;
    }

    .newOp{
        display: none;
    }
    
    .optionSection{
        padding: 80px 8%;
        cursor: pointer;
    }


    .optionGenDiv{
        display: block;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }


    .optionImageDiv{
        width: 100%;
    }

    .optionGenDiv h2{
        text-align: left;
        font-size: 20px;
        font-weight: bold;
    }


    .optioDivs {
        padding: 20px;
        border: grey solid 1px;
    }


    .optioDivs p{
        font-size: 12px;
    }


    
}