
@import '../variables.scss';

*{@include default}


.confirmDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.confirmDiv img{
    width: 300px;
    margin: auto;
}

.confirmText h2{
    font-size: 30px;
    font-weight: 400;
    color: $my-blue;
}

.confirmText p{
    font-size: 15px;
}

.contactCareDiv{
    padding-top: 50px;
}

.contactCareDiv p{
    font-size: 13px;
    color: gray;
}




@media only screen and (min-width: $small-One) and (max-width: $small-Two) {

    .confirmDiv img{
        width: 200px;
        margin: auto;
    }
    
    .confirmText h2{
        font-size: 20px;
        font-weight: 400;
    }
    
    .confirmText p{
        font-size: 13px;
    }
    
    .contactCareDiv{
        padding-top: 50px;
    }
    
    .contactCareDiv p{
        font-size: 12px;
        color: gray;
    }
}
