

.confirmDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.confirmDiv img{
    width: 300px;
    margin: auto;
}

.confirmText h2{
    font-size: 30px;
    font-weight: 400;
}

.confirmText p{
    font-size: 15px;
}

.contactCareDiv{
    padding-top: 50px;
}

.contactCareDiv p{
    font-size: 13px;
    color: gray;
}





